/*Hacer que el viejo método para la fuente de Sporedom funcione*/
span.Sporedom{
  font-family: Sporedom;
}

/*Redimensionar imágenes y flash en el chat (no afecta dentro de spoiler)*/
#chatbox .msg img, #chatbox .msg embed {
    max-width: 100%;
    max-height: 128px;
}
/*Romper palabras lagras en el chat*/
#chatbox .msg {
    word-wrap: break-word;
}


/*ChatBox con avatares*/
#chatbox .cb-avatar {
	background: none !important; /*Fondo transparente*/
}
#chatbox .date-and-time {
	float: initial !important;  /*Hora a la izquierda*/
}
#chatbox .user {
	display: initial !important;  /*Hora y autor en misma línea*/
}
#chatbox > p {
	border-bottom: 0px !important; /*Sin línea divisora*/
}

/*Toolbar*/
body#phpbb {
	position: relative !important;
}

#fa_toolbar {
	position: absolute !important;
	bottom: 0px;
	top: auto;
	min-width: initial !important;
	width: initial !important;
}

#fa_toolbar {
	background-color: initial !important;
}

#fa_menu, .rightHeaderLink:not(#fa_notifications), #fa_search, #fa_share {
	display: none !important;
}

#fa_notifications {
	position: fixed !important;
	top: 0px;
	right: 0px;
	font-size: 0;
	width: 38px;
	height: 37px;
	padding: 0px !important;
	background-image: url(http://i.imgur.com/Ccho9ih.png);
	opacity: 0.4;
}

#fa_notifications:hover {
	opacity: 0.7;
}

#fa_right.notification > #fa_notifications, #fa_notifications.unread {
	opacity: 1;
}

#fa_right.notification > #fa_notifications {
	background-color: #333 !important;
}

#notif_unread {
	color: white;
	background: rgba(255, 0, 0, 0.4);
	border-radius: 1em;
	padding: .1em .4em .2em .2em;
	font-size: 11px;
	font-weight: 700;
	position: absolute;
	right: 2px;
	top: 21px;
	line-height: normal;
}

#fa_notifications:hover > #notif_unread {
	background: rgba(255, 0, 0, 0.7);
}

#fa_right.notification > #fa_notifications >  #notif_unread {
	background: rgba(255, 0, 0, 01);
}

#live_notif {
	position: fixed !important;
	top: 0px;
}

#notif_list {
	position: fixed !important;
	top: 37px;
	right: 0px;
	left: auto !important;
}

#fa_toolbar #fa_right #notif_list li a.delete {
  width: 19px !important;
  height: 19px !important;
  background: url(http://img837.imageshack.us/img837/294/cruzspore.png) no-repeat !important;
}

/*Tamaño Búsqueda*/
div#my_gs {
    	width: 300px;
	height: 30px;
}

.gsc-control-cse{
        padding: 0px  !important;
        border: 0px  !important;
}

#search-box {
	margin-top: 2px !important;
	white-space: normal !important;
}

/*Editor de texto*/
div#textarea_content {
    width: 77% !important; /*tamaño del editor*/
}

.sceditor-container{
         background:  #2C322C !important; /*borde*/
         border: 1px solid #1C1309 !important;
  
}

.sceditor-toolbar {/*parte superior*/
        background:  #404040 !important;  /*fondo*/
        border: 4px solid #2C322C !important;/*borde*/
    }

div.sceditor-group{
        border: 1px solid #1C1309 !important; /*Borde de los botones*/
 
  
}

.sceditor-button{
        background-icolor:  #de00ff !important; /*fondo de los botones*/
}

.sceditor-container iframe, .sceditor-container textarea {
  	color: #BBBDBC !important;/*Color de la fuente*/
        background-icolor:  #4D6794 !important;  /*Fondo del area de texto*/
      background: #364236 !important; /*fondo principal*/
    }


/*Fondo Mr. S2*/
div.post.online.pmrs2, div.post.pmrs2 {
  background-image: url("http://i.imgur.com/rK3mBsg.png");
  background-repeat: repeat;
}

/*Color post El Señor de los  Dadillos*/
div.post.online.cdadillos, div.post.cdadillos {
  background-color: #402d31;
}


/*Redimensionar avatares*/
.postprofile img, dl.mod-login-avatar > dt > img, #profile-advanced-right img{
  max-width:100%;
  max-height:200px;
}

/*Avatares en el Índice*/
.mini_ava {
  float: left; /*Borrar*/
  padding: 0px;
}
.mini_ava img {
  border: 1.3px solid black;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.mini_ava img:hover
{
  width: 43px;
  height: 43px;
}

/*ChatBox Desplegable*/
#chatbox_ret_cont{
 x-index: 10000;
 z-index: 999;
 background-color: transparent;
 position: fixed;
 bottom: 0; 
}
#chatbox_ret_cont.chatbox_derecha{
  right: 0;	
}
#chatbox_ret_cont.chatbox_izquierda{
  left: 0;
}
/*#chatbox_ret_cont div{
  cursor: pointer;
}*/

#chatbox_ret_cont iframe#chatbox_ret{
  background-color: white;
  border: 2px solid grey;
  display: none;
  height: 450px;
  margin-bottom: 0;
  width: 900px;
}

/*Recuadro negro*/

p {
  background-color: #2C2C2C
  }

p.copyright {
  background-color: #2C2C2C
  }
  

div.page-bottom {background-color: #2C2C2C;
  }
div#chatbox_popup {background-color: #2C2C2C;
  }

p.copyright {
  background-color: #2C2C2C
  }

div.clearfix {
  background-color: #2C2C2C
  }

p.author {
  background-color: transparent;
	}

div.content.clearfix {
  background-color: transparent;
	}

p.right {
	text-align: right;
  	background-color: transparent;
	}

#logo-desc p {
    	background-color: transparent;
	}

/*Anuncios Centrados*/
.picshow_main {
	text-align: center;
}  

/*Pop Up Conexión*/
#login_popup {
	background-image:url("http://i76.servimg.com/u/f76/15/34/08/13/pop_up10.png");
  	padding: 0;
  	background-color:transparent;
  	border:none;
}
#login_popup .h3 {
	margin: 0 0 6px;
	padding: 0 0 6px;
  	left:center;
  	margin: 12px 125px 6px;
  	border-bottom:transparent;
}
#login_popup_buttons input {
        border-radius: 12.5px;
 	 margin-left:5px;
	background-image: url("http://i76.servimg.com/u/f76/15/34/08/13/fondob10.png");
  	color: white;
  	border: 1px solid black;
  	height:25px;
}
#login_popup_buttons input:hover {
 	border: 2px solid #96852d;
  }
#login_popup_buttons {
	padding-right: 13px;
	padding-bottom: 13px;
}

/*Pop Up Amistad*/
#ddrequest {
  position: absolute; 
  top: 0px; right: 0px; width: 200px; 
  background: #444444; color: #000; 
  border: 4px solid #2C2C2C; text-align: center; z-index:1000}
#newfriend {padding: 5px 10px; font-size: 14px; line-height: 20px;}

/*Caja*/

div.caja{
max-width:600px;
overflow:auto;
border: 3px solid black;
}

/*Caja de firma (scroll)*/
.signature_div{
    margin-top: 10px;
  background: repeat scroll 0 0 transparent;
    max-height: 350px;
    overflow: auto;
}

.signature_div > br + center > img {
    margin-top: -14px;
}

/*Scroll perfiles*/

.postprofile dd{
  background: repeat scroll 0 0 transparent;
  max-height: 350px;
  overflow: auto;
}
/*Achicar imgs firmas*/
.signature_div img {
max-width:600px;
max-height:200px;
}


/*Img sondeo*/

fieldset.polls {
background-image: url("http://img806.imageshack.us/img806/4011/encuesta.png");
background-repeat: no-repeat;
background-position: bottom left;
}

/*Degradado en subforos*/

.row {
background-image: url('http://i.imgur.com/zjJaut2.png');
background-repeat: repeat-x;
background-color: #2C2C2C;  
background-position:bottom;
}

/*Color Hover*/

ul.topiclist li { 
-webkit-transition-duration: .3s; 
-moz-transition-duration: .3s;
}


/*Color spoiler*/

.spoiler {
border: 1px solid #302F2F;
padding: 5px 5px 5px;
}

.spoiler_content {
background-color: #302F2F;
border: 1px solid #302F2F;
padding: 5px 5px 5px;
margin-top: -6px;
}

.spoiler dt {
background-image: Spoiler;
background-repeat: no-repeat;
background-color: #302F2F;
}

.spoiler dd {
background-image: Spoiler;
background-repeat: no-repeat;
background-position: 14px 2px;
}



/*Lupa búsqueda*/
input.search {
   background-image: url('http://img402.imageshack.us/img402/9041/lupa.png');
   background-repeat: no-repeat;
   background-position: left 1px;
   padding-left: 17px;
}
#search_menu a img {
   background: url(http://img402.imageshack.us/img402/9041/lupa.png);
   background-position: inherit;
   height: 18px;
   width: 19px;
}

/*Selector de colores*/
.colorpicker {
   width: 356px;
   height: 176px;
   overflow: hidden;
   position: absolute;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/light11.png);
   font-family: Arial, Helvetica, sans-serif;
   display: none;
}

.colorpicker.dark{
 background: url(http://i83.servimg.com/u/f83/17/45/19/77/dark11.png);
}
.colorpicker_color {
   width: 150px;
   height: 150px;
   left: 14px;
   top: 13px;
   position: absolute;
   background: #f00;
   overflow: hidden;
   cursor: crosshair;
}
.colorpicker_color div {
   position: absolute;
   top: 0;
   left: 0;
   width: 150px;
   height: 150px;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp10.png);
}
.colorpicker_color div div {
   position: absolute;
   top: 0;
   left: 0;
   width: 11px;
   height: 11px;
   overflow: hidden;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp10.gif);
   margin: -5px 0 0 -5px;
}
.colorpicker_hue {
   position: absolute;
   top: 13px;
   left: 171px;
   width: 35px;
   height: 150px;
   cursor: n-resize;
}
.colorpicker_hue div {
   position: absolute;
   width: 35px;
   height: 9px;
   overflow: hidden;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp11.gif) left top;
   margin: -4px 0 0 0;
   left: 0px;
}
.colorpicker_new_color {
   position: absolute;
   width: 60px;
   height: 30px;
   left: 213px;
   top: 13px;
   background: #f00;
}
.colorpicker_current_color {
   position: absolute;
   width: 60px;
   height: 30px;
   left: 283px;
   top: 13px;
   background: #f00;
}
.colorpicker input {
   background-color: transparent;
   border: 1px solid transparent;
   position: absolute;
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
   color: #898989;
   top: 4px;
   right: 11px;
   text-align: right;
   margin: 0;
   padding: 0;
   height: 11px;
}
.colorpicker_hex {
   position: absolute;
   width: 72px;
   height: 22px;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/custom11.png) top;
   left: 212px;
   top: 142px;
}
.colorpicker.dark .colorpicker_hex {
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp11.png) top;
}
.colorpicker_hex input {
   right: 6px;
}
.colorpicker_field {
   height: 22px;
   width: 62px;
   background-position: top;
   position: absolute;
}
.colorpicker_field span {
   position: absolute;
   width: 12px;
   height: 22px;
   overflow: hidden;
   top: 0;
   right: 0;
   cursor: n-resize;
}
.colorpicker_rgb_r {
   background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/custom12.png);
   top: 52px;
   left: 212px;
}
.colorpicker.dark .colorpicker_rgb_r{
 background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp12.png);
}
.colorpicker_rgb_g {
   background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/custom13.png);
   top: 82px;
   left: 212px;
}
.colorpicker.dark .colorpicker_rgb_g {
 background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp13.png);
}
.colorpicker_rgb_b {
   background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/custom14.png);
   top: 112px;
   left: 212px;
}
.colorpicker.dark .colorpicker_rgb_b {
 background-image: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp14.png);
}
.colorpicker_hsb_h, .colorpicker_hsb_s, .colorpicker_hsb_b {
 display: none;
}
.colorpicker_submit {
 position: absolute;
    background: url("http://i83.servimg.com/u/f83/17/45/19/77/accept10.png") no-repeat;
    cursor: pointer;
    right: 10px;
 width: 48px;
 height: 50px;
    top: 118px;  
 overflow: hidden;
}
.colorpicker_focus {
   background-position: center;
}
.colorpicker_hex.colorpicker_focus {
   background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
   background-position: bottom;
}
.colorpicker_slider {
   background-position: bottom;
}
.colorpicker { z-index: 3; }

/*Botones guapos*/

a.button1, input.button1, a.button2, input.button2, button.button2 {
	width: auto !important;
	padding: 0px 0px;
	font-family: "Arial";
  	font-size: 14;
  	font-weight: normal;
    	/*font-color: #FFFFFF;*/
	color: #FFFFFF;
  	border: 2px solid #144e00;
	background-repeat: no-repeat;
	background-color: #144e00;
	background-image: url('http://i.imgur.com/XOA88Zv.jpg');
	background-position: top;
	overflow: visible;
	}
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, button.button2:hover {
	border: 2px solid #ffffff;
	color: #ffffff;
	background-position: 0 100%;
	}